<header class="top">
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
  <a class="brand" href="{{ '/' | relative_url }}">PBB Updates Board</a>
  <nav>
    <a href="{{ '/' | relative_url }}">Live</a>
    <a href="{{ '/housemates.html' | relative_url }}">Housemates</a>
    <a href="{{ '/nominations.html' | relative_url }}">Nominations</a>
    <a href="{{ '/tasks.html' | relative_url }}">Weekly Tasks</a>
    <a href="{{ '/api/index.json' | relative_url }}">API</a>
  </nav>
</header>
