<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} ú {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  <main class="wrap">
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="{{ '/assets/js/app.js' | relative_url }}"></script>
</body>
</html>
